.container {
  display: flex;

  .navLink {
    flex: 1;
    text-align: center;
    max-height: 80px;
  }
}

@media screen and (min-width: 900px) {
  .container {
    flex-direction: column;
  }
}

.navLink {
  color: red;
}
